*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}




body{
    font-family:fantasy,sans-serif;
    font-size: 18px;
}




h1,h2{
    color:rgba(9, 179, 242, 0.79);
     font-family: fantasy,sans-serif;
}


h1
{ 
    font-size:40px;
    margin-bottom:20px;
    
}

h2{ 
    font-size:35px;
    margin-bottom: 10px;
}

.maintext{ 
    text-align:justify;
    margin-bottom:20px;
   
}
.sky{
    font-size:22px;
    float:left;
    margin-top: 25px;
    margin-left: 20px;
    
}
.container {
    width:1140px;
   margin:20 auto 0 auto;
}

.blogpost {
   
    width:75%;
    float:left;
    padding-right:30px;
    padding-left: 30px;
    position:relative;
    
}

.otherposts {
   
    width:25%;
    float:left;
    margin-top: 20px;
   
}

.author {
    border-top: 1px solid #a2a198;
    padding-top: 20px;
    padding-right:30px;
    padding-left: 30px;
}

.other {
    margin-bottom:40px;
}
.author img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    float:left;
}

.blogpost img{
    height:150px;
    width:auto;
}
.date {
    position:absolute;
    top:20;
    right:30;
    
}
